<%= form_with(model: [@article, Comment.new]) do |form| %>
  <br/>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>